<div style="height:800px;">

<div  align="left" style="font-size:16pt;color:black;width=50%; padding-left: 5%">
<% if params[:id] == "DMCA" %>
<div style="font-size:14pt">
<h2 style="text-align:center;color:black;font-size:21pt"><strong>Disclaimer & DMCA</strong></h2><br>

<p>YearlingVideos.com is not responsible for any misspellings, an error in it’s listing, or a mislabeled videos. Please refer to the sales catalog for all information before bidding on any horse. Yearlingvideos.com doesn't monitor the audio/video content, it only provide a listing service. Furthermore, doesn't claim ownership of any videos seen. If there are any copyright infringements, please refer to our DMCA steps to resolve possible infringements.</p>

<p>YearlingVideos.com abides by the federal Digital Millennium Copyright Act (DMCA) by responding to notices of alleged infringement that comply with the DMCA and other applicable laws. As part of our response, we may remove or disable access to material residing on a site that is controlled or operated by YearlingVideos.com that is claimed to be infringing, in which case we will make a good-faith attempt to contact the person who submitted the affected material so that they may make a counter notification, also in accordance with the DMCA.</p>

<p>YearlingVideos.com does not control content hosted on third party websites, and cannot remove content from sites it does not own or control. If you are the copyright owner of content hosted on a third party site, and you have not authorized the use of your content, please contact the administrator of that website directly to have the content removed.</p>

<p>Before serving either a Notice of Infringing Material or Counter-Notification, you may wish to contact a lawyer to better understand your rights and obligations under the DMCA and other applicable laws. The following notice requirements are intended to comply with YearlingVideos.com’ rights and obligations under the DMCA and, in particular, section 512(c), and do not constitute legal advice.</p>

<p>Notice of Infringing Material</p>

<p>Under the DMCA, copyright holders and their agents can demand removal of allegedly infringing content. To do that, they must provide a complete take down notice. Under the law, this notice must contain the following elements:</p>

<p>1. A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</p>

<p>2. Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works at a single on-line site are covered by a single notification, a representative list of such works at that site.</p>

<p>3. Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit the service provider to locate the material.</p>

<p>4. Information reasonably sufficient to permit the service provider to contact the complaining party, such as an address, telephone number, and, if available, an electronic mail address at which the complaining party may be contacted.</p>

<p>5. A statement that the complaining party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law.</p>

<p>6. A statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</p>

<p>This notice, which must be filed by the copyright holder or an agent working for them, is sent to the service provider's DMCA agent.</p>

<p>Once the notice has been received, the host has to first make sure it is a complete notice and then they are to either remove or disable access to the infringing work. This can be done many ways but is usually handled by simply backing up and deleting the allegedly infringing material.</p>

<p>With that done, the host then usually contacts the client involved, who in turn has the opportunity to respond.</p>

<p>Send notice to:</p>

By mail: DMCA Agent: Evan Newman<br />

5698 Moorgate Dr.<br />

Columbus, OH 43235<br />

<p>By Fax: Attn: DMCA Agent<br />

+1.614.858.2292<br />

By e-mail: contact@yearlingvideos.com</p>
<% else %>
<% if params[:id] == "ADD" %>
<div style="font-size:14pt;">
<h2 style="text-align:center;color:black;font-size:21pt"><strong>Add Your Video to YearlingVideos.com!</strong></h2><br>
<div style="width: 50%; margin: 0 auto; !important; padding: 10px 10px 10px 10px">
<h3><!-- <span class="firstLetter">Y</span> -->YearlingVideos.com is a one stop shop for watching videos across many sales.  
	This has become the first place buyers go when looking for yearlings. Buyers have the ability to do advanced searches, something Youtube and other sites cannot do.</span>  
	<br><br>Here are a few of many benefits:<br>	
	<ul style="list-style-type: square; margin-left: 40px">
		<li>Videos stream at adaptive bitrates, which give the viewer the best quality based on their internet connection.</li>
		<li>Page view counts of videos can be generated on request.</li>
		<li>QR codes can be printed for each individual horse and displayed at their stall. A buyer can then use their mobile device to instantly view
			 your horse video.</li>
	</ul>	
	<br>
	</h3>
<h3>Ready to have your videos streamed on YearlingVideos.com? <br>Contact Evan at 614-600-3383 to get started or to get more information.</h3>
	
	</div>
<% end %>
<% end %>
</div>
</div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104901712-1', 'auto');
  ga('send', 'pageview');

</script>