<div align="center"><p>Your friend thought you'd like this horse. Click the link to see the yearling.</p></div>

<div align="center"><p><a href="<%= @url %>">Check out <%= @horsename %> on YearlingVideos.com!</a></p></div>
