<h1 align="center" style="margin-bottom:25px;font-size:40px;color:white;padding-top:25px">Add Horses to Your Farm</h1>
	
<%= render 'form' %>

<div class= "flex-container">
	<h3 style="font-size:1.0em; font-family: Helvetica;color:black;font-weight: 250">MULTIPLE HORSE UPLOAD</h3>  
</div>
<div align="center">
<h2> Import Horses</h2>
<%= form_tag import_horses_path, multipart: true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "Import Horses" %>
<% end %>
</div>