[Unit]
Description=Puma instance to serve application
After=network.target

[Service]
WorkingDirectory=/home/dh_fmj9h7/yearlingvideos.com
ExecStart=/home/dh_fmj9h7/.rvm/gems/ruby-2.6.6/bin/puma -C config/puma.rb -e production
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=on-failure

[Install]
WantedBy=default.target