<%= form_for(vector) do |f| %>
  <% if vector.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vector.errors.count, "error") %> prohibited this vector from being saved:</h2>

      <ul>
      <% vector.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
