<%= form_with(model: dwnld) do |form| %>
  <% if dwnld.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dwnld.errors.count, "error") %> prohibited this dwnld from being saved:</h2>

      <ul>
        <% dwnld.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
